* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: 0; }

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background: #ebf2ff; }

input {
  font-family: "Inter", sans-serif; }

.app {
  max-width: 500px;
  margin: 0 auto;
  padding: 60px 30px; }
  .app__title {
    text-align: center;
    font-size: 30px;
    color: #3a86ff;
    margin: 0 auto 42px; }

.add-task__form {
  text-align: center; }
  .add-task__form-input {
    border: 2px solid #3a86ff;
    background-color: #ebf2ff;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 0 25px;
    font-size: 16px;
    color: #3a86ff; }
  .add-task__form-button {
    width: 200px;
    height: 45px;
    background-color: #3a86ff;
    box-shadow: 0px 0px 10px rgba(58, 134, 255, 0.32);
    border-radius: 30px;
    color: #ffffff;
    font-size: 20px;
    margin: 28px auto 0;
    cursor: pointer;
    transition: 300ms ease all;
    font-weight: 500; }
    .add-task__form-button:hover {
      background-color: #ebf2ff;
      border: 2px solid #3a86ff;
      color: #3a86ff; }

.tasks__list {
  margin: 56px auto 0;
  list-style: none; }

.tasks__list-item {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  margin: 0 auto 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .tasks__list-item-title {
    font-weight: 500;
    color: #3a86ff;
    font-size: 20px;
    width: 100%;
    margin: 0 auto 20px; }
  .tasks__list-item-timer {
    padding: 13px 16px;
    border: 2px solid #3a86ff;
    list-style: none;
    background: #ebf2ff;
    color: #3a86ff;
    border-radius: 10px;
    font-weight: 500;
    display: flex;
    flex-shrink: 0;
    min-width: 110px;
    justify-content: center; }
  .tasks__list-item-button {
    background: #3a86ff;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(58, 134, 255, 0.32);
    transition: 300ms ease all; }
    .tasks__list-item-button:not(:last-child) {
      margin: 0 15px 0 0; }
    .tasks__list-item-button:hover {
      transform: scale(1.1); }
