// Colors
$main-color: #3a86ff;
$secondary-color: #ebf2ff;
$light-color: #ffffff;
$grey-color: #777777;

// Shadows
$button-shadow: 0px 0px 10px rgba(58, 134, 255, 0.32);
$card-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

// Font Family
$main-font: "Inter", sans-serif;

// Font Sizes
$font-large: 30px;
$font-medium: 20px;
$font-small: 16px;

// Border-radius
$border-radius-large: 30px;
$border-radius-small: 10px;
